.basket__item {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.basket__item__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.basket__item__info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basket__item__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.basket__item__rating {
  display: flex;
}

.basket__item__title {
  font-size: 17px;
  font-weight: 800;
}
